requests
beautifulsoup4
selenium
pandas
python-dotenv
langchain-groq
langchain-core
langchain-community
langchain-google-genai
webdriver-manager
fake-useragent
tqdm
lxml
streamlit
chromadb
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
